<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add or Export Service Log</title>
</head>
<body>
<div id="edit">
    <form name="add" method="post">
    <table>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Date of Birth</th>
        <th></th>

        {% for option in options %}
            <tr>
            <td>
                {{ option.split('_')[0] }}
            </td>
            <td>
                {{ option.split('_')[1] }}
            </td>
            <td>
                {{ option.split('_')[2] }}
            </td>
            <td>
                <button type="submit" name="record" value={{ option }}>Add Service Log</button>
            </td>
            </tr>
        {% endfor %}
    </table>
{#        <select name="record">#}
{#            {%  for option in options %}#}
{#                <option value={{ option.replace(' ', '') }}>{{ option }} </option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <input type="submit" name="action"/>#}
    </form>
</div>
</body>
</html>