{% extends "layout.html" %}

{% block header %}
    <h1>{% block title %}login{% endblock %}</h1>
{% endblock %}


{% block content %}
    <form method="post" autocomplete="off">
        Email:<input type="email" name="email" value="{{ email | safe }}" required>
        Password:<input type="password" name="pwd" value="{{ pwd | safe }}" required>
        {% if logged_in %}
            <button type="submit">Log Out</button>
        {% endif %}
        {% if not logged_in %}
            <button type="submit">Login</button>
        {% endif %}
    </form>
{% endblock %}