{% extends "layout.html" %}

{% block header %}
    <h1>{% block title %}Client Service Log{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <p>Add a new service log</p>
        <form id="client_service_log" method="post">
            <div id="date_field">
                Date: <input type="date" min="1900-01-01" max="{{ date }}" name="Date" value="{{ date }}">
            </div>
            <div class="d-flex p-3" style="width:800px;">
                <div class="d-flex flex-column justify-content-center align-content-top" style="width: 100%;">
                    <div class="p-0">
                        <legend align="center">Client Information</legend>
                        <div class="d-flex flex-row justify-content-center align-content-center">
                            <div class="mx-5">
                                <div class="d-flex flex-column justify-content-center align-content-center">

                                    <legend align="center">General</legend>
                                    Last Name: <input class="p-0" type="text" name="lastname"
                                                      value="{{ data.last_name }}"
                                                      placeholder="Last Name" title="Last Name" required><br>
                                    First Name: <input class="p-0" type="text" name="firstname"
                                                       value="{{ data.first_name }}"
                                                       placeholder="First Name" title="First Name" required><br>
                                    Date of Birth: <input class="p-0" type="date" min="1900-01-01" max="{{ date }}"
                                                          name="dob"
                                                          value="{{ data.dob }}" placeholder="Date of Birth"
                                                          title="Date of Birth"
                                                          required><br>
                                    <div hidden>
                                        Gender: <input type="text" name="gender" value="{{ data.gender }}"
                                                       placeholder="Gender"
                                                       title="Gender"><br>
                                        Telephone: <input type="tel" name="phone" value="{{ data.phone }}"
                                                          placeholder="phone #"
                                                          title="phone #">
                                    </div>
                                </div>
                            </div>
                            <div class="px-5">
                                <div class="d-flex flex-column justify-content-center align-content-center">
                                    <legend align="center">#In Home</legend>
                                    # Adults: <input type="number" name="adults" min="0" value="{{ data.nber_adults }}"
                                                     placeholder="# Adults" title="# Adults"><br>
                                    # Under 18: <input type="number" name="under18" min="0"
                                                       value="{{ data.nber_under_18 }}" placeholder="# Under 18"
                                                       title="# Under 18"><br>
                                    Total: <input type="number" name="inhome" min="0" value="{{ data.total_in_home }}"
                                                  placeholder="Total" title="Total In Home">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="p-0">
                        <legend align="center">Program & Appointment</legend>
                        <div class="d-flex flex-column justify-content-center align-content-center">
                            <div class="p-0">
                                <div class="d-flex flex-row justify-content-center align-content-center">
                                    <div class="mx-3">
                                        <legend align="center">Description</legend>
                                        <select name="appointment_description" id="appointment_description">
                                            {% for description in appointment_description %}
                                                <option value="{{ description | safe }}">{{ description | safe }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mx-3">
                                        <div class="d-flex flex-column justify-content-center align-content-center">
                                            <legend align="center">Service UOS</legend>
                                            <div class="p-1" align="center">
                                                <select name="uos" id="service_uos" onclick="enter_uos()">
                                                    {% for tm in service_uos %}
                                                        <option value="{{ tm.get('value') | safe }}">{{ tm.get('display') | safe }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="p-1" align="center">
                                                <div id="uos_other" title="Other" style="visibility: hidden">
                                                    <input type="number" name="other_service_txt" min="0" step=".25">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mx-3">
                                        <div class="p-1">
                                            <legend align="center">New Appointment</legend>
                                            <input type="datetime-local" min="1900-01-01" max="{{ date }}"
                                                   name="new_appointment">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-1">
                                <div class="d-flex flex-row justify-content-center align-content-center">
                                    <div class="mx-3">
                                        <div class="d-flex flex-column justify-content-center align-content-center">
                                            <legend align="center">Appointment Type</legend>
                                            <div class="p-1" align="center">
                                                <select name="appointment_type" id="appointment_type"
                                                        onclick="enter_location()">
                                                    {% for type in appointment_type %}
                                                        <option value="{{ type | safe }}">{{ type | safe }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="p-1" align="center">
                                                <div id="appointment_location" title="Location"
                                                     style="visibility: hidden">
                                                    <input type="text" name="appointment_location"
                                                           placeholder="location">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mx-3">
                                        <div class="d-flex flex-column justify-content-center align-content-center">
                                            <legend align="center">Program Status</legend>
                                            <div class="p-1" align="center">
                                                <select name="program_status" id="program_status"
                                                        onclick="enter_status()">
                                                    {% for status in program_status %}
                                                        <option value="{{ status | safe }}">{{ status | safe }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="p-1" align="center">
                                                <div id="program_status_other" title="Other"
                                                     style="visibility: hidden">
                                                    <input type="text" name="program_status_other"
                                                           placeholder="other program">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="improvement_questions" class="p-0" align="center">
                        Did member demonstrate Improvement in Presenting Issue (Immediate Need met)?
                        <select name="need_met">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                            <option value="P">Pending</option>
                        </select><br>
                        Did member demonstrate Gained Life Management Skills (HW Completion)?
                        <select name="hw_completion">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                            <option value="P">Pending</option>
                        </select>
                    </div>
                    <div class="p-1" align="center">
                        <div title="Case Note">
                            <textarea name="casenote"
                                      placeholder="Case Note: Service Need(s) AND Service(s) Provided"></textarea>
                        </div>
                    </div>
                    <div class="p-2" align="center">
                        <legend align="center">Supportive Services Provided:</legend>
                        <div class="d-flex flex-row justify-content-center align-content-center">
                            <div class="px-4">
                                <legend>Food</legend>
                                <select name="food">
                                    {% for foo in supportive_service_provided.get('Food') %}
                                        <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                    {% endfor %}
                                </select><br>
                                #<input type="number" name="foodqty"><br>
                                $<input type="number" step="0.01" name="foodvalue">
                            </div>
                            <div class="px-4">
                                <legend>Clothing</legend>
                                <select name="clothing">
                                    {% for foo in supportive_service_provided.get('Clothing') %}
                                        <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                    {% endfor %}
                                </select><br>
                                #<input type="number" name="clothingqty"><br>
                                $<input type="number" step="0.01" name="clothingvalue">
                            </div>
                            <div class="px-4">
                                <legend>Hygiene</legend>
                                <select name="hygiene">
                                    {% for foo in supportive_service_provided.get('Hygiene') %}
                                        <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                    {% endfor %}
                                </select><br>
                                #<input type="number" name="hygieneqty"><br>
                                $<input type="number" step="0.01" name="hygienevalue">
                            </div>
                        </div>
                    </div>
                    <div class="p-1" align="center">
                        <div class="d-flex flex-row justify-content-center align-content-center">
                            <div class="px-4">
                                <legend>Baby Items</legend>
                                <select name="baby_items">
                                    {% for foo in supportive_service_provided.get('Baby_Items') %}
                                        <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                    {% endfor %}
                                </select><br>
                                #<input type="number" name="babyqty"><br>
                                $<input type="number" step="0.01" name="babyvalue">
                            </div>
                            <div class="px-4">
                                <legend>Financial</legend>
                                <select name="financial">
                                    {% for foo in supportive_service_provided.get('Financial') %}
                                        <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                    {% endfor %}
                                </select><br>
                                #<input type="number" name="financeqty"><br>
                                $<input type="number" step="0.01" name="financevalue">
                            </div>
                            <div class="px-4">
                                <legend>Legal</legend>
                                <select name="legal">
                                    {% for foo in supportive_service_provided.get('Legal') %}
                                        <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                    {% endfor %}
                                </select><br>
                                #<input type="number" name="legalqty"><br>
                                $<input type="number" step="0.01" name="legalvalue">
                            </div>
                        </div>
                    </div>
                    <div class="p-1" align="center">
                        <div class="d-flex flex-row justify-content-center align-content-center">
                            <div class="px-4">
                                <legend>HouseHold</legend>
                                <select name="household">
                                    {% for foo in supportive_service_provided.get('HouseHold') %}
                                        <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                    {% endfor %}
                                </select><br>
                                #<input type="number" name="familyqty"><br>
                                $<input type="number" step="0.01" name="familyvalue">
                            </div>
                            <div class="px-4">
                                <legend>Transportation</legend>
                                <input type="text" name="to_from" placeholder="To/From"><br>
                                #<input type="text" name="miles" placeholder="Miles"><br>
                                $<input type="number" step="0.01" name="transportationvalue">
                            </div>
                            <div class="px-4">
                                <legend>Other</legend>
                                <input type="text" name="other_service_provided"><br>
                                #<input type="number" name="otherqty"><br>
                                $<input type="number" step="0.01" name="othervalue">
                            </div>
                        </div>
                    </div>
                    <div class="p-2" align="center">
                        <br/>
                        <div class="d-flex flex-row justify-content-center align-content-center">
                            <div class="px-4">
                                <legend>External Referral Information</legend>
                                <input type="text" name="agency" placeholder="Agency">
                                <input type="text" name="contactperson" placeholder="Contact Person">
                                <input type="tel" name="external_telephone" placeholder="External Telephone">
                            </div>
                            <div class="px-4">
                                <legend>Staff Completing CSL</legend>
                                <input type="text" name="staff_completing_csl_fname" placeholder="First Name"
                                       value="{{ staff_fname | safe }}" required>
                                <input type="text" name="staff_completing_csl_mname" placeholder="Middle Name">
                                <input type="text" name="staff_completing_csl_lname" placeholder="Last Name"
                                       value="{{ staff_lname | safe }}" required>
                            </div>
                            <div class="px-4">
                                <legend>Staff Notes</legend>
                                <textarea name="staff_notes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <input name="race" value="{{ data.race }}" hidden>
            <input name="zipcode" value="{{ data.zipcode }}" hidden>
            <input type="submit" name="action"/>
        </form>
    </div>

    <script type="text/javascript">
        function enter_location() {
            var ap_type = document.getElementById('appointment_type');
            var location_input = document.getElementById('appointment_location');
            if (ap_type.value == 'Out of Office' || ap_type.value == 'In Office') {
                location_input.style.visibility = "visible";
            } else {
                location_input.style.visibility = "hidden";
            }
        }

        function enter_status() {
            var pstatus = document.getElementById('program_status');
            var other_status = document.getElementById('program_status_other');
            console.log(other_status);
            console.log(pstatus);
            if (pstatus.value == 'Other') {
                other_status.style.visibility = "visible";
            } else {
                other_status.style.visibility = "hidden";
            }
        };

        function enter_uos() {
            var suos = document.getElementById('service_uos');
            var ouos = document.getElementById('uos_other');

            if (suos.value == 'other') {
                ouos.style.visibility = "visible";
            } else {
                ouos.style.visibility = "hidden";
            }
        }
    </script>
{% endblock %}