<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic User Information</title>
</head>
<body>
<form method="post">
    <div id="date_field">
        Date: <input type="date" name="Date" value={{ date }}>
    </div>
    <div id="first">
        <table name="first">
            <th>Client Information</th>
            <th>In Home</th>
            <tr>
                <td>
                    <table id="info">
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Telephone</th>

                        <tr>
                            <td><input type="text" name="lastname" required></td>
                            <td><input type="text" name="firstname" required></td>
                            <td><input type="date" name="dob" required></td>
                            <td>
                                <select name="gender">
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                            </td>
                            <td><input type="tel" name="phone"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    Adults: <input type="number" name="adults" min="0"><br>
                    Under 18: <input type="number" name="under18" min="0"><br>
                    {#                    Total: <input type="number" name="inhome" min="0">#}
                </td>
            </tr>
        </table>
        <table>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Ethnicity</th>
            <tr>
                <td><input type="text" name="street_address"></td>
                <td><input type="text" name="city"></td>
                <td><input type="text" name="state" value="IL"></td>
                <td><input type="text" name="zipcode"></td>
                <td>
                    <select name="race">
                        <option name="African American">African American</option>
                        <option name="White">White</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <input type="submit" name="action"/>
</form>
</body>
</html>