{% extends "bootstrap/base.html" %}

{% block header %}
    <h1>{% block title %}Client Service Log{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <p>Add a new service log</p>
        <form id="client_service_log" method="post">
            <div id="date_field">
                Date: <input type="date" min="1960-01-01" max="{{ date }}" name="Date" value={{ date }}>
            </div>

            <div class="row" id="client_info_1">
                <div class="col-sm-3"><input type="text" name="lastname" value="{{ data.last_name }}"
                                             placeholder="Last Name" title="Last Name" required></div>
                <div class="col-sm-3"><input type="text" name="firstname" value="{{ data.first_name }}"
                                             placeholder="First Name" title="First Name" required></div>
                <div class="col-sm-3"><input type="date" min="1960-01-01" max="{{ date }}" name="dob"
                                             value="{{ data.dob }}" placeholder="Date of Birth" title="Date of Birth"
                                             required></div>
                <div class="col-sm-3"><input type="text" name="gender" value="{{ data.gender }}" placeholder="Gender"
                                             title="Gender"></div>
            </div>
            <br>

            <div class="row" id="client_info_2">
                <div class="col-sm-3"><input type="tel" name="phone" value="{{ data.phone }}" placeholder="phone #"
                                             title="phone #">
                </div>
                <div class="col-sm-3"><input type="number" name="adults" min="0" value="{{ data.nber_adults }}"
                                             placeholder="# Adults" title="# Adults"></div>
                <div class="col-sm-3"><input type="number" name="under18" min="0"
                                             value="{{ data.nber_under_18 }}" placeholder="# Under 18"
                                             title="# Under 18"></div>
                <div class="col-sm-3"><input type="number" name="inhome" min="0" value="{{ data.total_in_home }}"
                                             placeholder="Total" title="Total In Home"></div>
            </div>
            <br>

            <div class="row" id="program_related_info">
                <div class="col-sm-2" title="Program Status">
                    <select name="program_status" id="program_status" onclick="enter_status()">
                        {% for status in program_status %}
                            <option value="{{ status | safe }}">{{ status | safe }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="program_status_other" class="col-sm-2" title="Other" style="visibility: hidden">
                    <input type="text" name="program_status_other">
                </div>


                <div class="col-sm-2" title="Appointment Type">
                    <select name="appointment_type" id="appointment_type" onclick="enter_location()">
                        {% for type in appointment_type %}
                            <option value="{{ type | safe }}">{{ type | safe }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="appointment_location" class="col-sm-2" title="Location" style="visibility: hidden">
                    <input type="text" name="appointment_location">
                </div>
                <div class="col-sm-4" title="Appointment Description">
                    <select name="appointment_description" id="appointment_description">
                        {% for description in appointment_description %}
                            <option value="{{ description | safe }}">{{ description | safe }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>

            <div id="service_uos_new_appointment_notes" class="row">
                <div class="col-sm-2" title="Service UOS">
                    <select name="uos" id="service_uos" onclick="enter_uos()">
                        {% for tm in service_uos %}
                            <option value="{{ tm.get('value') | safe }}">{{ tm.get('display') | safe }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="uos_other" class="col-sm-2" title="Other" style="visibility: hidden">
                    <input type="number" name="other_service_txt" min="0" step=".25">
                </div>

                <div class="col-sm4" title="New Apointment Date">
                    <input type="datetime-local" min="1960-01-01" max="{{ date }}"
                           name="new_appointment">
                </div>

                <div class="col-sm-4" title="Case Note">
                    <textarea name="casenote"
                              placeholder="Case Note: Service Need(s) AND Service(s) Provided"></textarea>
                </div>
            </div>
            <br>

            <div id="improvement_questions">
                Did member demonstrate Improvement in Presenting Issue (Immediate Need met)?
                <select name="need_met">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    <option value="P">Pending</option>
                </select><br>
                Did member demonstrate Gained Life Management Skills (HW Completion)?
                <select name="hw_completion">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    <option value="P">Pending</option>
                </select>
            </div>
            <br>
            {#    fourth table#}
            <div id="fourth" class="table-responsive">
                <table name="fourth">
                    <th>Supportive Services Provided:</th>
                    <th>QTY</th>
                    <th>$ Value</th>

                    <tr>
                        <td>
                            Food<br>
                            <select name="food">
                                {% for foo in supportive_service_provided.get('Food') %}
                                    <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" name="foodqty"></td>
                        <td>$<input type="number" step="0.01" name="foodvalue"></td>
                    </tr>

                    <tr>
                        <td>
                            Clothing<br>
                            <select name="clothing">
                                {% for foo in supportive_service_provided.get('Clothing') %}
                                    <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" name="clothingqty"></td>
                        <td>$<input type="number" step="0.01" name="clothingvalue"></td>
                    </tr>

                    <tr>
                        <td>
                            Hygiene<br>
                            <select name="hygiene">
                                {% for foo in supportive_service_provided.get('Hygiene') %}
                                    <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" name="hygieneqty"></td>
                        <td>$<input type="number" step="0.01" name="hygienevalue"></td>
                    </tr>

                    <tr>
                        <td>
                            Baby Items<br>
                            <select name="baby_items">
                                {% for foo in supportive_service_provided.get('Baby_Items') %}
                                    <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" name="babyqty"></td>
                        <td>$<input type="number" step="0.01" name="babyvalue"></td>
                    </tr>

                    <tr>
                        <td>
                            Financial<br>
                            <select name="financial">
                                {% for foo in supportive_service_provided.get('Financial') %}
                                    <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" name="financeqty"></td>
                        <td>$<input type="number" step="0.01" name="financevalue"></td>
                    </tr>

                    <tr>
                        <td>
                            Legal<br>
                            <select name="legal">
                                {% for foo in supportive_service_provided.get('Legal') %}
                                    <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" name="legalqty"></td>
                        <td>$<input type="number" step="0.01" name="legalvalue"></td>
                    </tr>

                    <tr>
                        <td>
                            HouseHold<br>
                            <select name="household">
                                {% for foo in supportive_service_provided.get('HouseHold') %}
                                    <option value="{{ foo | safe }}">{{ foo | safe }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" name="familyqty"></td>
                        <td>$<input type="number" step="0.01" name="familyvalue"></td>
                    </tr>

                    <tr>
                        <td>
                            Other: <input type="text" name="other_service_provided">
                        </td>
                        <td><input type="number" name="otherqty"></td>
                        <td>$<input type="number" step="0.01" name="othervalue"></td>
                    </tr>

                    <tr>
                        <td>
                            Transportation<br>
                            <div id="transportation_service">
                                To: <input type="text" name="to">
                                From: <input type="text" name="from">
                                Mile: <input type="text" name="miles">
                            </div>
                        </td>
                        <td><input type="number" name="transportationqty"></td>
                        <td>$<input type="number" step="0.01" name="transportationvalue"></td>
                    </tr>
                </table>
            </div>

            <div id="external_referral_info" class="container">
                <p>External Referral Information</p>
                Agency: <input type="text" name="agency">
                Contact Person: <input type="text" name="contactperson">
                Telephone #: <input type="tel" name="external_telephone">
            </div>
            <br>

            <div id="staff_notes" class="container">
                Staff Note: <input type="text" name="staff_notes">
                Staff Completing CSL: <input type="text" name="staff_completing_csl_fname" placeholder="First Name">
                <input type="text" name="staff_completing_csl_lname" placeholder="Last Name">
            </div>

            <input name="race" value="{{ data.race }}" hidden>
            <input name="zipcode" value="{{ data.zipcode }}" hidden>
            <input type="submit" name="action"/>
        </form>
    </div>
    <script type="text/javascript">
        function enter_location() {
            var ap_type = document.getElementById('appointment_type');
            var location_input = document.getElementById('appointment_location');
            if (ap_type.value == 'Location') {
                location_input.style.visibility = "visible";
            } else {
                location_input.style.visibility = "hidden";
            }
        }

        function enter_status() {
            var pstatus = document.getElementById('program_status');
            var other_status = document.getElementById('program_status_other');
            console.log(other_status);
            console.log(pstatus);
            if (pstatus.value == 'Other') {
                other_status.style.visibility = "visible";
            } else {
                other_status.style.visibility = "hidden";
            }
        };

        function enter_uos() {
            var suos = document.getElementById('service_uos');
            var ouos = document.getElementById('uos_other');

            if (suos.value == 'other') {
                ouos.style.visibility = "visible";
            } else {
                ouos.style.visibility = "hidden";
            }
        }
    </script>
{% endblock %}