{% extends "layout.html" %}

{% block title %}Dashboards{% endblock %}

{% block scripts %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dc3.0.4.css') }}"/>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--<script src="{{ url_for('static', filename='jquery-1.10.2.js') }}" type="text/javascript"></script>-->
    <!--<script src="{{ url_for('static', filename='bootstrap.js') }}" type="text/javascript"></script>-->
    <script src="{{ url_for('static', filename='d3_5.4.0.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='crossfilter.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='dc3.0.4.js') }}" type="text/javascript"></script>

    <style>
        .dc-chart {
            font-size: 12px;
        }

        .dc-table-group {
            padding-left: 10px;
            font-size: 14px;
            font-weight: bold;
        }

        .dc-table-column {
            padding-left: 10px;
            font-size: 12px;
            font-weight: normal;
        }

        .dc-chart th {
            text-align: left
        }

        .dc-chart th, .dc-chart td {
            padding-left: 10px;
        }

        .dc-chart tr.dc-table-group td {
            padding-top: 4px;
            border-bottom: 1px solid black;
        }

        .dc-cbox-group {
            list-style-type: none;
        }

        .dc-cbox-group label {
            display: inline-block;
        }

        ul.dc-cbox-group {
            position: relative;
            width: 100%;
            margin: auto 0;
            background-color: transparent;
        }

        .dc-cbox-group input[type=checkbox], .dc-cbox-group input[type=radio] {
            margin: 0 5px 5px 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Dashboards fo Daizz</h1>
    <div id="option">
        <input name="updateButton"
               type="button"
               value="Update"
               onclick="updateData()"/>
    </div>
    <div class="d-flex p-3" style="width:750px;">
        <div class="d-flex flex-column justify-content-center align-content-center" style="width: 100%;">
            <div class="p-1">
                <div class="d-flex flex-row justify-content-center">
                    <div class="dc-data-count dc-chart p-0"></div>
                </div>
            </div>
            <div class="p-1">
                <div class="d-flex flex-row justify-content-center">
                    <div id="chart-ring-year" class="p-4">
                        <strong>Year: </strong>
                        <a class="reset" href="javascript:void(0)" onclick="yearRingChart.filterAll();dc.redrawAll();"
                           style="display: none">reset</a>
                        <br/>
                    </div>
                    <!--<div id="month-select-chart" class="col-sm-2">-->
                    <!--<strong>Month in Year: </strong>-->
                    <!--<a class="reset" href="javascript:void(0)" onclick="monthChart.filterAll();dc.redrawAll();" style="display: none">reset</a>-->
                    <!--</div>-->
                    <div id="quarter-chart" class="p-4">
                        <strong>Quarter: </strong>
                        <a class="reset" href="javascript:void(0)" onclick="quarterChart.filterAll();dc.redrawAll();"
                           style="display: none">reset</a>
                        <br/>
                    </div>
                    <div id="cbox2" class="p-4">
                    </div>
                </div>
            </div>
            <div class="p-1">
                <div class="d-flex flex-row justify-content-center">

                    <div id="chart-line-hitsperday" class="p-0">
                        <div>
                            <strong>Visitors: </strong>
                            <a class="reset" href="javascript:void(0)"
                               onclick="hitslineChart.filterAll();dc.redrawAll();" style="display: none">reset</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-1">
                <div class="d-flex flex-row justify-content-center">
                    <div id="monthly-volume-chart" class="p-0">
                        <div class="bottom">
                            <strong>Monthly Volume: </strong>
                            <a class="reset" href="javascript:void(0)" onclick="volumeChart.filterAll();dc.redrawAll();"
                               style="display: none">reset</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1">
                <div class="d-flex flex-row justify-content-center">
                    <div id="staff-chart" class="p-2">
                        <strong>Staff Service Provider: </strong>
                        <a class="reset" href="javascript:void(0)" onclick="staffChart.filterAll();dc.redrawAll();"
                           style="display: none">reset</a>
                    </div>
                </div>
            </div>
            <div class="p-1">
                <div class="d-flex flex-row justify-content-center">
                    <div id="mytable" class="table table-hover dc-chart dc-table-group p-2"
                         style="overflow:auto; width: 620px; height: 300px;">
                        <strong>Top 25 Filtered Data: </strong>
                        <a class="reset" href="javascript:void(0)" onclick="tableChart.filterAll();dc.redrawAll();"
                           style="display: none">reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var hitslineChart = dc.compositeChart("#chart-line-hitsperday");
        var httpChart = dc.rowChart('#http-type-chart');
        var tableChart = dc.dataTable("#mytable");
        //var volumeChart = dc.barChart('#monthly-volume-chart');
        //var monthChart = dc.pieChart('#month-select-chart');
        var yearRingChart = dc.pieChart("#chart-ring-year");
        var staffChart = dc.barChart("#staff-chart");
        var quarterChart = dc.pieChart('#quarter-chart');
        var cbox2 = dc.cboxMenu('#cbox2');
        var dataCount = dc.dataCount('.dc-data-count');
        var data;


        $(document).ready(function () {
            {#data = d3.csvParse({{ data_frame | tojson }});#}
            {#console.log(data);#}
            {#makeCharts(data);#}
            $.getJSON("{{ url_for('get_data', id=id_check, type='dashboard') }}", {}, function(data1) {
            data = d3.csvParse(data1.data);
            console.log(data)
            makeCharts(data);
          });
          return false;
        });

        function makeCharts(data) {
            var dateFormat = d3.timeFormat("%Y-%m-%d");
            var dateFormatParser = d3.timeParse("%Y-%m-%d");
            data.forEach(function (d) {
                d.SDate = dateFormatParser(d['service_dates']);
                d.JDate = dateFormatParser(d['created_dt']);
                d.Year = d3.timeYear(d.SDate).getFullYear();
                //console.log(d3.timeFormat('%m')(d.date) + ": " + typeof(d3.timeFormat('%m')(d.date)));
                d.month = d3.timeMonth(d.SDate);

                //d.date = d3.timeFormat("%m/%d/%Y")(d.date);
                //console.log(d.geo);
            });
            var ndx = crossfilter(data);
            var all = ndx.groupAll();


            var quarter = ndx.dimension(function (d) {
                var month = d.SDate.getMonth();
                if (month <= 2) {
                    return 'Q1';
                } else if (month > 2 && month <= 5) {
                    return 'Q2';
                } else if (month > 5 && month <= 8) {
                    return 'Q3';
                } else {
                    return 'Q4';
                }
            });
            var quarterGroup = quarter.group().reduceSum(function (d) {
                return +1;
            });

            quarterChart /* dc.pieChart('#quarter-chart', 'chartGroup') */
                .width(180)
                .height(180)
                .radius(80)
                .innerRadius(30)
                .dimension(quarter)
                .group(quarterGroup);

            var dateDim = ndx.dimension(function (d) {
                return d.SDate;
            });

            var jDateDim = ndx.dimension(function (d) {
                return d.JDate;
            });
            var hits = dateDim.group().reduceSum(function (d) {
                return +1;
            });
            var minDate = dateDim.bottom(1)[0].SDate;
            console.log(minDate);
            var today = new Date();
            var date1 = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            var maxDate = today;
            console.log(maxDate);
            var monthDim = ndx.dimension(function (d) {
                var month = d.SDate.getMonth();
                var name = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                //console.log(name[month]);
                return name[month];
            });
            // Group by total movement within month
            var monthDim2 = ndx.dimension(function (d) {
                return d.month;
            });
            var requestType = ndx.dimension(function (d) {
                return d['gender']
            });
            var requestTypeGroup = requestType.group().reduceSum(function (d) {
                return +1;
            });

            cbox2
                .dimension(requestType)
                .group(requestType.group())
                .multiple(true)
                .controlsUseVisibility(true);

            var country = ndx.dimension(function (d) {
                return d.country
            });
            var countryGroup = country.group().reduceSum(function (d) {
                return +1;
            });


            var monthGroup = monthDim.group();
            var monthGroup2 = monthDim2.group().reduceSum(function (d) {
                return +1;
            });
            var status_200 = monthDim2.group().reduceSum(function (d) {
                if (d.request_type === "http_200")
                    return +1;
                else
                    return +0;
            });
            var total_services = dateDim.group().reduceSum(function (d) {
                if(d['activity'] == "service")
                    return +1;
                else
                    return +0;
            });
            var joined = dateDim.group().reduceSum(function (d) {
               if(d['activity'] == "join")
                    return +1;
                else
                    return +0;
            });

            var unique_served = dateDim.group().reduce(

                function (p, d) {
                    //console.log(p.people)
                    if(d['activity'] == "service"){
                        if (d['last_name'] in p.people)
                            p.people[d['last_name']]++;
                        else {
                            p.people[d['last_name']] = 1;
                            p.peopleCount++;
                        }
                    }
                    //console.log(p);
                    return p;
                },

                function (p, d) {
                    //console.log("deleting people");
                    if(d['activity'] == "service"){
                        p.people[d['last_name']]--;
                        if (p.people[d['last_name']] === 0) {
                            delete p.people[d['last_name']];
                            p.peopleCount--;
                        }
                    }
                    return p;
                },

                function () {
                    return {
                        peopleCount: 0,
                        people: {}
                    };
                }

            );

            var raceDim = ndx.dimension(function (d) {
                return d['race'];
            });
           //var whoDim = ndx.dimension(function (d) {
            //    return d['
            var raceGroup = raceDim.group().reduceSum(function (d) {
                return +1;
            });

            staffChart
                .width(720)
                .height(250)
                .x(d3.scaleBand())
                .xUnits(dc.units.ordinal)
                .elasticY(true)
                .elasticX(true)
                .barPadding(0.1)
                .outerPadding(0.05)
                .margins({top: 20, left: 45, right: 0, bottom: 20})
                .dimension(raceDim)
                .group(raceGroup);


            dataCount /* dc.dataCount('.dc-data-count', 'chartGroup'); */
                .dimension(ndx)
                .group(all)
                // (_optional_) `.html` sets different html when some records or all records are selected.
                // `.html` replaces everything in the anchor with the html given using the following function.
                // `%filter-count` and `%total-count` are replaced with the values obtained.
                .html({
                    some: '<strong>%filter-count</strong> selected out of <strong>%total-count</strong> records' +
                    ' | <a href=\'javascript:void(0)\' onclick=\'dc.filterAll();  dc.redrawAll();\'>Reset All</a>',
                    all: 'All records selected. Please click on the graph to apply filters.'
                });


            httpChart
                .width(500)
                .height(200)
                .margins({top: 20, left: 10, right: 10, bottom: 20})
                .group(requestTypeGroup)
                .dimension(requestType)
                .ordinalColors(["#a4da74", "#1648a0", "#af45d7", "#315f32", "#d02f34", "#beb92f",
                    "#462c0c", "#615594", "#bf500e"])
                // Assign colors to each value in the x scale domain
                // Title sets the row text
                .on('preRedraw', function () {
                    httpChart.ordering(function (d) {
                        return -d.value
                    });  //this will make the scale adjust to the scale of filtered values.

                })
                .title(function (d) {
                    return d.value;
                })
                .ordering(function (d) {
                    return d.key
                })
                .elasticX(true)
                .xAxis().ticks(4);




            hitslineChart
                .width(525)
                .height(275)
                .margins({top: 30, right: 0, bottom: 55, left: 40})
                .mouseZoomable(true)
                .x(d3.scaleTime().domain([minDate, maxDate]))
                .round(d3.timeMonth.round)
                .xUnits(d3.timeMonths)
                .elasticY(true)
                .renderHorizontalGridLines(true)
                .legend(dc.legend().x(40).y(10).itemHeight(10).gap(5).horizontal(true).itemWidth(80).legendWidth(520))
                .compose([
                    dc.lineChart(hitslineChart)
                        .dimension(dateDim)
                        .colors('orange')
                        .group(total_services, "Total Services")
                        .dashStyle([0, 0]),
                    dc.lineChart(hitslineChart)
                        .dimension(dateDim)
                        .colors('green')
                        .group(joined, "Joined")
                        .dashStyle([0, 0]),
                    dc.lineChart(hitslineChart)
                        .dimension(dateDim)
                        .colors('blue')
                        .group(unique_served, "Unique Visitors Served")
                        .valueAccessor(function (d) {
                            return d.value.peopleCount;
                        })
                        .dashStyle([0, 0])
                ])
                .on("renderlet", function (chart) {
                    // rotate x-axis labels
                    chart.selectAll('g.x text')
                        .attr('transform', 'translate(-13,30) rotate(270)')
                })
                .brushOn(false)
                .render();

            var yearDim = ndx.dimension(function (d) {
                return +d.Year;
            });
            var date_total = dateDim.group().reduceSum(function (d) {
                return d.amount;
            });
            var year_total = yearDim.group().orderNatural().reduceSum(function (d) {
                return +1;
            });

            yearRingChart
                .width(200).height(200)
                .dimension(yearDim)
                .group(year_total)
                .innerRadius(50);

            tableChart /* dc.dataTable('.dc-data-table', 'chartGroup') */
                .width(400)
                .dimension(dateDim)
                // Data table does not use crossfilter group but rather a closure
                // as a grouping function
                .group(function (data) {
                    return ~~(data.Year);
                })
                // (_optional_) max number of records to be shown, `default = 25`
                .size(25)
                // There are several ways to specify the columns; see the data-table documentation.
                // This code demonstrates generating the column header automatically based on the columns.
                .columns([
                    // Use the `d.date` field; capitalized automatically
                    'date',
                    // Use `d.open`, `d.close` http_404: 35, http_200: 123, http_302: 41
                    'Last Name',
                    'SEX M/F',
                    'Staff (Initials)',
                    'Need Met (Y,N,P)'
                ])

                // (_optional_) sort using the given field, `default = function(d){return d;}`
                .sortBy(function (d) {
                    return d.value;
                })
                // (_optional_) sort order, `default = d3.ascending`
                .order(d3.ascending)
            // (_optional_) custom renderlet to post-process chart using [D3](http://d3js.org)
            ;


            dc.renderAll();
            dc.redrawAll();
        }

        function updateData() {
            {#data = d3.csvParse({{ data_frame | tojson }});#}
            {#console.log(data);#}
            {#makeCharts(data);#}
            $.getJSON("{{ url_for('get_data', id=id_check, type='dashboard') }}", {}, function(data1) {
            data = d3.csvParse(data1.data);
            console.log(data);
            makeCharts(data);
          });
        }
    </script>
{% endblock %}
