{% extends "layout.html" %}

{% block header %}
    <h1>{% block title %}Export Client Log{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Please Select a Time Period to Export a CSV Summary.</p>
    <div id="period">
        <form method="post">
            From:<input type="date" min="1900-01-01" max="{{ date }}" name="start">
            To:<input type="date" min="1900-01-01" max="{{ date }}" name="end">
            <button type="submit">Export</button>
        </form>
    </div><br>
    <p>{{ header | safe }}</p>
    <div id="table_div"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages': ['table']});
        google.charts.setOnLoadCallback(drawTable);

        function drawTable() {
            var jsonData = $.ajax({
                url: "{{ url_for('get_data', id=id_check, type='export') }}",
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);
            var table = new google.visualization.Table(document.getElementById('table_div'));

            table.draw(data, {
                showRowNumber: true, width: '100%', height: '100%', frozenColumns: 3,
                page: 'enable', sortColumn: 0
            });
        }
    </script>
{% endblock %}