{% extends 'layout.html' %}

{% block header %}
    <h1>{% block title %}Confirmation{% endblock %}</h1>
{% endblock %}


{% block content %}
    {% if redirected %}
        <script>
            alert("{{ redirected | safe }}")
        </script>
    {% endif %}
    <form method="post" name="search">
        <div id="search_bar">
            <div>First Name: <input type="text" name="fname_search"></div><br>
            <div>Last Name: <input type="text" name="lname_search"></div><br>
            <div>Date of Birth: <input type="date" name="dob_search" min="1960-01-01" max="{{ date }}"></div><br>
            <button type="submit" name="search">Search Client</button>
            <input name="thesearchform" hidden>
        </div>
    </form><br>
    {% if multiple_clients %}
        <form method="post" name="select_from_many">
            <div id="table_div"></div>
        </form>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages': ['table']});
            google.charts.setOnLoadCallback(drawTable);

            var columns = ["Last Name", "First Name", "Date Of Birth", ""];
            var rows = {{ multiple_clients | safe }};

            function drawTable() {
                var data = new google.visualization.DataTable();

                for (i = 0; i < columns.length; i++) {
                    data.addColumn("string", columns[i]);
                }

                for (i = 0; i < rows.length; i++) {
                    var value = rows[i].join('_');
                    var html_el = document.createElement('BUTTON');
                    html_el.name = "client_select_one";
                    html_el.type = "submit";
                    html_el.innerHTML = "This One";
                    html_el.value = value;

                    data.addRow(rows[i].concat([html_el.outerHTML]));
                }

                var table = new google.visualization.Table(document.getElementById('table_div'));

                table.draw(data, {
                    showRowNumber: true, height: '100%', page: 'enable', sortColumn: 0,
                    allowHtml: true
                });
            }
        </script>
    {% endif %}
{% endblock %}