{% extends 'layout.html' %}

{% block header %}
    <h1>{% block title %}Confirmation{% endblock %}</h1>
{% endblock %}


{% block content %}
    {% if redirected %}
        <script>
            alert("{{ redirected | safe }}")
        </script>
    {% endif %}
    <form method="post" name="search">
        <div id="search_bar">
            First Name: <input type="text" name="fname_search">
            Last Name: <input type="text" name="lname_search">
            Date of Birth: <input type="date" name="dob_search" min="1960-01-01" max="{{ date }}">
            <button type="submit" name="search">Search Client</button>
            <input name="thesearchform" hidden>
        </div>
    </form>
    {% if multiple_clients %}
        <form method="post" name="select_from_many">
            <table name="client_select_table">
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Edit</th>

                {% for client in multiple_clients %}
                    <tr>
                        <td>{{ client[0] }}</td>
                        <td>{{ client[1] }}</td>
                        <td>{{ client[2] }}</td>
                    <td><button type="submit" name="client_select_one" value="{{ '_'.join(client) }}">This One</button></td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% endif %}
{% endblock %}