<!doctype html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<ul>
{#    <li><a href="{{ url_for( 'homepage' ) }}">Home</a></li>#}
    <li><a href="{{ url_for( 'home_page' ) }}">Home</a></li>
{#    <li><a href="{{ url_for( 'select_client' ) }}">Clients</a></li>#}
    <li><a href="{{ url_for( 'export' ) }}">Export</a></li>
    <li><a href="{{ url_for( 'authenticate' ) }}">Authenticate</a></li>
</ul>
<div id="content" style="margin-left:25%;padding:1px 16px;height:1000px;">{% block content %}{% endblock %}</div>
</body>
</html>