{% extends "layout.html" %}

{% block header %}
    <h1>{% block title %}Sign UP{% endblock %}</h1>
{% endblock %}


{% block content %}
    <script type="text/javascript">
        function check_match() {
            var pwrd = document.getElementById("pwd");
            var pwrd_confirm = document.getElementById("pwd_confirm");

            if (pwrd.value === pwrd_confirm.value) {
                var cnfrm = document.getElementById("confirmed");
                cnfrm.value = "YES";
            }
        }
    </script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post" autocomplete="off">
        <fieldset>
            <legend>Sign UP</legend>
            First Name: <input type="text" name="user_first_name" value="{{ fname | safe }}" required><br>
            Last Name: <input type="text" name="user_last_name" value="{{ lname | safe }}" required><br>
            Email: <input type="email" name="email" value="{{ email | safe }}" required><br>
            Password: <input type="password" name="pwd" id="pwd" minlength="9" required><br>
            Confirm Password: <input type="password" name="pwd_confirm" id="pwd_confirm" required><br>
            <input name="confirmed"  value="NO" id="confirmed" hidden>
            <button type="submit" onclick="check_match()">Sign UP</button>
        </fieldset>
    </form>

{% endblock %}